<div class="background-container">
    <div class="content-container">
        <h2>Book Your Ride</h2>
        <div class="form-toggle">
            <button [class.active]="isOneWay" (click)="toggleForm(true)">One Way</button>
            <button [class.active]="!isOneWay" (click)="toggleForm(false)">Round Trip</button>
        </div>
        <one-way-form class="form" *ngIf="isOneWay"></one-way-form>
        <round-trip-form class="form" *ngIf="!isOneWay"></round-trip-form>
    </div>
</div>
<tarrifs></tarrifs>