.background-container {
  background-image: url("/assets/images/home-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  padding: 5% 0;
}

h2 {
  text-align: center;
  font-size: 27px;
  background-color: #0171bd;
  color: #fff;
  border-radius: 5px;
  padding: 10px 0;
  max-width: 230px;
  margin: 0 auto 15px;
}

.content-container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 0 auto;
  background: transparent;
  opacity: 1;
  border: 1px solid white;
}

.form-toggle {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.form-toggle button {
  flex: 1;
  padding: 10px 20px;
  font-size: 19px;
  border: none;
  border: 1px solid #0000001a;
  text-align: center;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form-toggle button.active {
  background-color: #FFB800;
  color: white;
  font-weight: bold;
  border: 1px solid transparent;
  box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);
}

.form-toggle button:hover {
  background-color: #0066FF;
  border: 1px solid transparent;
}

.form-toggle button:focus {
  outline: none;
}

.form {
  padding: 20px;
  border-radius: 4px;
  transition: all 0.5s ease
}

.content {
  color: white;
  margin: 25px auto;
  padding: 2% 5%;
  max-width: 1000px;
  background: #2b2e4a;
  line-height: 28px;
  font-size: 18px;
  text-align: center;
}