form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    outline: none;
}

.email input {
    width: 207%;
}

.form-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    position: relative;
}

.suggestions-container {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    z-index: 999;
}

.suggestions-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.suggestions-container li {
    padding: 10px;
    cursor: pointer;
}

.suggestions-container li:hover {
    background-color: #f1f1f1;
}

.cab-selection {
    grid-column: span 2;
    margin-top: 20px;
}

.cab-selection h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.cabs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 15px;
    text-align: center;
}

.cab-type-icon {
    cursor: pointer;
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.cab-icon {
    width: 20vw;
    height: auto;
    max-width: 120px;
    object-fit: contain;
    margin-bottom: 5px;
}

button {
    grid-column: span 2;
    background-color: #0066FF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s linear;
    width: 100%;
}

button:hover {
    background-color: #4CAF50;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

div>p {
    font-size: 16px;
    margin-top: 10px;
    color: white;
}