<nav>
    <div class="menu-icon" (click)="toggleSideNav()">&#9776;</div>
    <div class="logo"><a routerLink="/"><img src="/assets/images/logo.gif" alt=""></a></div>
    <div class="links">
        <a routerLink="/contact">Contact</a>
        <a routerLink="/contact">Services</a>
    </div>
</nav>
<div class="news-ticker">
    <div class="ticker-wrapper">
        <span *ngFor="let news of newsItems">{{ news }}</span>
        <span *ngFor="let news of newsItems">{{ news }}</span>
        <span *ngFor="let news of newsItems">{{ news }}</span>
        <span *ngFor="let news of newsItems">{{ news }}</span>
    </div>
</div>
<aside class="side-nav" [class.open]="sideNavOpen">
    <ul>
        <li><a href="/" (click)="closeSideNav()">Home</a></li>
        <li><a routerLink="/services" (click)="closeSideNav()">Services</a></li>
        <li><a routerLink="/gallery" (click)="closeSideNav()">Gallery</a></li>
        <li><a routerLink="/contact" (click)="closeSideNav()">Tarrifs</a></li>
        <li><a routerLink="/contact" (click)="closeSideNav()">Contact</a></li>
    </ul>
</aside>