<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <a routerLink="/">
                <img src="/assets/images/logo.gif" alt="Taxi Logo">
            </a>
            <div class="contact">
                <p>Address</p>
                <p>Phone : <strong>7200073070</strong></p>
                <p>Email : <strong>droptaxicab&#64;gmail.com</strong></p>
            </div>
        </div>
        <div class="footer-links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a routerLink="/contact">Services</a></li>
                <li><a routerLink="/contact">Contact</a></li>
                <li><a routerLink="/contact">About Us</a></li>
            </ul>
            <ul>
                <li><a href="/">Terms and Conditions</a></li>
                <li><a routerLink="/contact">Tarrifs - One Way</a></li>
                <li><a routerLink="/contact">Tarrifs - Round Trip</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <a href="#" class="social-icon"><i class="fa fa-facebook-f"></i></a>
            <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
            <a href="#" class="social-icon"><i class="fa fa-instagram"></i></a>
            <a href="#" class="social-icon"><i class="fa fa-linkedin-in"></i></a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Dropxtaxi Service. All rights reserved.</p>
    </div>
</footer>